// @font-face {
// 	font-family: 'American Typewriter Regular';
// 	src: local('American Typewriter Regular'), url(./fonts/AmericanTypewriterRegular.ttf) format('tff');
// }

:root {
	font-family: 'American Typewriter Regular';
}

.app-container {
	max-width: 800px;
	margin: auto;
	padding: 20px;
	// font-family: 'American Typewriter Regular';
}

.edit-record-container {
	margin-top: 62px;
}
